.page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding: 50px;
}

@media (min-width: 641px) {
    .page {
        //flex-direction: row;
    }
}
